numpy
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
pytorch-minimize
nbsphinx
IPython
docutils #<0.17
# sphinx == 5.3.0
sphinx
sphinx_copybutton
sphinx_last_updated_by_git
sphinx_rtd_theme
requests
pandoc
pydata-sphinx-theme
sphinx_design