numpy<2.0
torch>=2.3
pytorch-minimize
tqdm
nbsphinx
IPython
docutils #<0.17
# sphinx == 5.3.0
sphinx
sphinx_copybutton
sphinx_last_updated_by_git
sphinx_rtd_theme
requests
pandoc
pydata-sphinx-theme
sphinx_design